.div1
	{
		width:600px;
		height:500px;
		background-color:lightblue;
		border-radius:8px;
		position:fixed;
		top:40px;
		left:200px;
	}
    .div2
    {
    	width:440px;
    	height:37px;
    	position:absolute;
    	top:20px;
    	left:20px;
    	background-color:white;
    }
    .div3
    {
    	width:100px;
    	height:40px;
    	position:absolute;
    	top:20px;
    	right:20px;
    	background-color:orange;
    }
    .div4
    {
    	width:560px;
    	height:415px;
    	position:absolute;
    	top:70px;
    	left:20px;
    	background-color:white;
    	overflow-x:auto;
    	overflow-y:scroll;
    }
    .div5
    {
    	border:3px solid lightblue;
    	border-radius:8px;
    	width:220px;
    	height:150px;
    	position:fixed;
    	right:320px;
    	top:40px;
    }
    
    .divleft
    {
      margin:5px;
    }
    .divright
    {
      margin-left:350px;
      margin-top:5px;
    }